body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

header nav {
  display: flex;
  justify-content: space-between; /* Adjusts spacing between the title and links */
  align-items: center;
  background-color: #333; /* Example background color */
  padding: 10px;
}

header nav h1 {
  color: #fff;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px; /* Adds horizontal spacing between nav items */
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ddd;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

nav a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
}

nav a:hover {
  background: #575757;
}

section {
  padding: 20px;
  margin: 10px;
}

.introduction {
  background: #f4f4f4;
}

.timeline {
  background: #e2e2e2;
}

.learnings {
  background: #d9f9d9;
}

.photo-gallery {
  background: #f9d9d9;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.gallery-grid {
  display: grid;
  gap: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 5px 0;
  }

  section {
    margin: 5px;
  }
}
